openai
python-dotenv
# requests
# langchain
# tiktoken # for token counting
# evaluate
# rouge_score
# bert-score
# langchain 
# openai 
# tiktoken
# matplotlib
# seaborn

numpy==1.24.4
pandas
# faiss-cpu
faiss-gpu
sentence-transformers